@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    src: local('Oswald Bold'), local('Oswald-Bold'), url(../fonts/Oswald-Bold.woff) format('woff');
}

.centered
{
    text-align: center;
}

select.markInput{
  background: #FAFAFA;
  text-align: center;
}

.form-nav select#selectCity, .form-nav button.submit{
  font-size: 14px;
}

.form-nav{
  margin-left: -200px;
}

.form-nav button.submit{
  font-size: 14px;
  height: 45px;
}

nav a.hover{
  color:#FFF;
  text-decoration: none;
}

.TextCenter{
  text-align: center;
}

.black{
  color:#333132;
  padding: 5px;
}


.text-center{
  text-align: center;
}

@media (max-width:500px){
    h1.title
    {
        font-family: 'Oswald',sans-serif;
        color:#333132;
        text-transform: ;
        font-size: 200%;
    }

    h3.title
    {
        font-family: 'Oswald',sans-serif;
        color:#333132;
        text-transform: ;
        font-size: 200%;
    }
  
}

@media (min-width:500px) {
    h1.title
    {
        font-family: 'Oswald',sans-serif;
        color:#333132;
        text-transform: ;,
        font-size: 200%;
    }
    
    h3.title
    {
        font-family: 'Oswald',sans-serif;
        color:#333132;
        text-transform: ;
        font-size: 200%;
    }
}


h2.sub-title
{
    font-family: 'Oswald',sans-serif;
    color:#333132;
    text-transform: ;
    text-align: center;
    font-size: 200%;
}

h3.sub-title,h4.sub-title,h5.sub-title
{
    font-family: 'Oswald',sans-serif;
    color:#333132;
    display: inline-block;


}
.btn-dash
{
    height: 120px;
    width : 120px;
    padding:5px;
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
    background-color: Transparent;
    border : none;

}

.white
{
    color:#333132;
}

.grey
{
    color:grey;
}

.twenty-five
{
    width : 25%
}

p.success
{
    font-family: sans-serif;
    color:#333132;
    font-size : 120%;
}



.transparent
{
    background-color: Transparent;
}

.form-control
{


}





div.pin
{
   /* background-color:rgba(255,255,255,0.1);*/

    padding:20px;

    /*margin-left: 50px;
    margin-right: 50px;*/
}


div.board
{
    margin:30px;
}




body.blue-red
{
    background: #3f4591; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #3f4591 0%, #a5607f 69%, #db766a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#3f4591), color-stop(69%,#a5607f), color-stop(100%,#db766a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #3f4591 0%,#a5607f 69%,#db766a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #3f4591 0%,#a5607f 69%,#db766a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #3f4591 0%,#a5607f 69%,#db766a 100%); /* IE10+ */
    background: linear-gradient(135deg,  #3f4591 0%,#a5607f 69%,#db766a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4591', endColorstr='#db766a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

body{
  background:#FAFAFA;
}


#scoreUpdate table{
  width:100%;
  margin:auto;
}

input.markInput{
  width:45%;
  background:#F9F9F9;
  text-align:center;
  color:#333132;
  border:none;
  background:none;
  border-bottom:thin #000 dashed;
  text-align: center;
}

input.markInput.error{
  width:45%;
  background:#F00;
  text-align:center;
  color:#FFF;
  border:none;
  border-bottom:thin #F00 dashed;
  text-align: center;
}

.error{
  background:#F00;
  text-align:center;
  color:#FFF;
}

.success{
  background:#084;
  text-align:center;
  color:#FFF;
}


.mark_data{
  text-align: center;
}

input.markSubmit{
  width:200px;
  height:40px;
  outline:0;
  border:none;
  text-align:center;
  color:#222;
  border-radius:5px;
  -o-border-radius:5px;
  -ms-border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px; 
  background:none;
  font-weight:bold;
  color:#333132;
  margin-top:50px;
  border:2px solid #333132;
  transition:all 0.5s ease;
  -o-transition:all 0.5s ease;
  -ms-transition:all 0.5s ease;
  -moz-transition:all 0.5s ease;
  -webkit-transition:all 0.5s ease;  
}

input.markSubmit:hover{
  transition:all 0.5s ease;
  -o-transition:all 0.5s ease;
  -ms-transition:all 0.5s ease;
  -moz-transition:all 0.5s ease;
  -webkit-transition:all 0.5s ease;  
  background:#FFF;
  color:#222;
}

select.edSelect{
  width:80%;
  height:40px;
  background:#FFF;
  border:none;
/*   -webkit-appearance: none; */
  color:#222;
}

#scoreUpdate{
  margin:auto;
  margin-top:20px;
  color:#333132;  
}

#header td{
  font-weight:900;
  text-align:center;
  padding:1%;
  height:auto;
  color:#FFF;
}

.content td{
  font-weight:500;
  margin-bottom:3px;g
  padding:1%;
  border:thin solid #EEE;
}

p.title{
  text-align:center;
  color:#333132;
  font-weight:900;
  height:35px;
}

option{
  height:20px;
  background:none;
  outline:0;
  border:none;
}

input.totalMarks{
  color:#333132;
  font-weight:bold;
  border:none;
  background:none;
  border:thin #FFF solid;
  padding:2px;
  text-align:center;

}	

.footable-row-detail-cell{
  border:thin solid #333132;  
  width:95%;
  padding:2.5%;
}

.assessmentInput{
  width:95% !important;
  padding:0 2.5% !important;
  background: #FFF !important;
  border:thin #CCC solid !important;
  outline: none;
}

#fixed-top-div{
  padding: 10px;
  background: #FFF;
  position: absolute;
  position: fixed;
  top:60px;
  left: 0;
  z-index: 50;
  box-shadow: #CCC 0 0 5px;
}

.gradeSelect{
  font-size: 12px;
  font-weight: 200;
  background: none;
  border: thin solid #EEE;
  outline:0;
  width: 50%;
  float: right;
  height: 30px;
}

@media only screen and (min-width:150px) and (max-width:500px){
  #scoreUpdate{
    width:95%;
    margin:auto;
    margin-top:20px;
    color:#333132;  
  }
  
  #scoreUpdate table{
    width:100%;
    margin:auto;
  }
  
  #header td{
    font-weight:900;
    text-align:center;
    border:thin solid #FFF;
  }

  #content td{
    font-weight:500;
    margin-bottom:3px;
    border:thin solid #EEE;
  }
  
  #childform{
	width:95%;
	margin:auto;
	margin-top:50px;
  }
  
  input.markSubmit{
    width:200px;
    height:40px;
    outline:0;
    border:none;
    text-align:center;
    color:#222;
    border-radius:5px;
    -o-border-radius:5px;
    -ms-border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px; 
    background:none;
    font-weight:bold;
    color:#FFF;
    margin-top:10px;
    border:2px solid #FFF;
    transition:all 0.5s ease;
    -o-transition:all 0.5s ease;
    -ms-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -webkit-transition:all 0.5s ease;  
  }
  
  #scoreUpdate table{
    width:100%;
    margin:auto;
    margin-top:20px;
  }
  
  select.edSelect{
    width:100%;
    height:40px;
    background:#FFF;
    border:none;
/*     -webkit-appearance: none; */
    color:#222;
  }
  
  #formRow{
	margin-top:40px;
  }
  
  p.title{
	margin-top:10px;
  }
  
 
}

.cover{
  position: absolute;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
  background: RGBA(255,255,255,0.6) url(../img/ajax-loader.gif) no-repeat center;
}